<div class="container">
    <div ui-view></div>
    <div class="row">
        <div class="col-xs-6 documentList">
            <h3>Closed tasks</h3>
            <div ng-repeat="flow in $ctrl.finished" class="col-xs-12 flow">
                <div>Documents:</div>
                <table class="table-condensed">
                    <tr ng-repeat="flowDocument in flow.flowDocuments" class="col-xs-12 document">
                        <td><span>{{flowDocument.name}}</span></td>
                        <td><a class="btn btn-default" ng-if="flowDocument.type === 'DR'" target="_blank" ng-href="{{'http://localhost:8080/dr/download/' + flowDocument.id + '?part=first'}}">Download first part</a><td>
                        <td><a class="btn btn-default" ng-if="flowDocument.type === 'DR'" target="_blank" ng-href="{{'http://localhost:8080/dr/download/' + flowDocument.id + '?part=second'}}">Download second part</a><td>
                        <td><a class="btn btn-default" ng-if="flowDocument.type === 'RN'" target="_blank" ng-href="{{'http://localhost:8080/rn/download/' + flowDocument.id}}">Download</a><td>
                    </tr>
                </table>
                <span class="col-xs-12 path">Path:
                    <span ng-repeat="path in flow.flowPath">
                        <span ng-class="{'current-department' : $index === flow.crtDepartment, 'tag' : $index !== flow.crtDepartment}">{{path.name}}</span>
                        <span ng-if="!$last" class="arrow"> -> </span>
                    </span>
                </span>
            </div>
            <div ng-hide="$ctrl.finished.length != 0">
                You have no closed flows!
            </div>
        </div>
    </div>
</div>