<div class="container">
    <div class="row">
        <button class="btn btn-default pull-left" ui-sref="downloadDr">Download DR samples</button>
        <a class="btn btn-default pull-left" target="_blank" ng-href="{{$ctrl.rnDownloadLink}}">Download RN sample</a>
        <button class="btn btn-primary pull-right" ui-sref="addDr">Add new DR document</button>
        <button class="btn btn-primary pull-right" ui-sref="addRn">Add new RN document</button>
    </div>
    <br>
    <div class="row">
        <button class="btn btn-success pull-left" ng-show="!$ctrl.canStartFlow" ng-click="$ctrl.canAddDocuments = true">Add documents</button>
        <button class="btn btn-success pull-left" ng-disabled="!$ctrl.canAddDocuments" ng-show="$ctrl.canStartFlow" ng-click="$ctrl.startFlow()">Start flow</button>
    </div>
    <div ui-view></div>
    <div class="row">
        <h3>Departments</h3>
        <tags-input ng-show="$ctrl.canAddDocuments" ng-model="$ctrl.departmentsForFlow" display-property="name">
            <auto-complete source="$ctrl.getDepartments($query)" minLength="1">
            </auto-complete>
        </tags-input>
        <div class="col-xs-6 documentList">
            <h3>DR - documents</h3>
            <div ng-repeat="document in $ctrl.drDocuments" class="col-xs-12 document">
                <span>{{document.name}}</span>
                <span class="caption pull-right">{{document.dateAdded | date: "yyyy-MM-dd"}}</span>
                <button class="btn btn-default" ng-show="$ctrl.canAddDocuments" ng-click="$ctrl.addDocumentToFlow(document.id)">Add to flow</button>
            </div>
        </div>
        <div class="col-xs-6 documentList">
            <h3>RN - documents</h3>
            <div ng-repeat="document in $ctrl.rnDocuments" class="col-xs-12 document">
                <span>{{document.name}}</span>
                <span class="caption pull-right">{{document.dateAdded | date: "yyyy-MM-dd"}}</span>
                <button class="btn btn-default" ng-show="$ctrl.canAddDocuments" ng-click="$ctrl.addDocumentToFlow(document.id)">Add to flow</button>
            </div>
        </div>

    </div>
</div>