<html>
    <body>
        <br/>
        <p>This is an automatic e-mail sent to you by the CWMD team.</p>
        <br/>
        <p>A document flow you've initiated has been rejected.</p>
        <p>The documents in question are: </p>
        <br/>
        <p>
            $documents
        </p>
        <br />

        <p>The remarks mentioned by the departments it has passed through are:</p>
        <p>
            $remarks
        </p>
        <br/>
        <p>Once you've made the necessary modifications, you may resubmit it.</p>
        <br/>
        <br/>
        <p>Have a good one!</p>
        <p>The CWMD team</p>
    </body>
</html>