<html>
    <body>
        <br/>
        <p>This is an automatic e-mail sent to you by the CWMD team.</p>
        <br/>
        <p>A new flow of documents is awaiting your approval.</p>
        <p>The documents in question are: </p>
        <br/>
        <p>
            $documents
        </p>
        <br />
        <hr />
        <p>The remarks mentioned by the departments it has passed through are:</p>
        <p>
            $remarks
        </p>
        <br/>
        <br/>
        <p>Have a good one!</p>
        <p>The CWMD team</p>
    </body>
</html>