<div class="container">
    <div ui-view></div>
    <div class="row">
        <div class="col-xs-6 documentList">
            <h3>Open tasks</h3>
            <div ng-show="$ctrl.flows" ng-repeat="flow in $ctrl.flows" class="col-xs-12 flow">
                <span>Flow in department {{flow.crtDepartment}}</span>
                <span>Documents:</span>
                <table class="table-condensed">
                    <tr ng-repeat="document in flow.flowDocuments" class="col-xs-14 document">
                        <td><span>{{document.name}}</span></td>
                        <td><button ng-click="">Download</button><td>
                        <td><button ng-click="">Upload revised</button><td>
                        <td><button ng-click="$ctrl.sendToNextDepartment(flow.id)">Send to next department</button><td>
                        <td><button ng-click="$ctrl.sentToInitial(flow.id)">Send to initial department</button><td>
                    </tr>
                </table>
                <span>Path:</span>
                <div ng-repeat="path in flow.flowPath" class="col-xs-14 document">
                    <span>{{path.department.name}}</span>
                </div>
            </div>
            <div ng-hide="$ctrl.flows">
                    There are no flows assigned for you!
            </div>
        </div>
    </div>
</div>