<div class="container">
    <div ui-view></div>
    <div class="row">
        <div class="col-xs-12 documentList">
            <h3>Opened tasks</h3>
            <div ng-repeat="flow in $ctrl.flows" class="col-xs-12 flow">
                <span>Flow in department {{flow.crtDepartment}}</span>
                <div>Documents:</div>
                <table class="table-condensed">
                    <tr ng-repeat="document in flow.flowDocuments" class="col-xs-12 document">
                        <td><span>{{document.name}}</span></td>
                        <td><button ng-click="">Upload revised</button><td>
                    </tr>
                </table>
                <span class="col-xs-12 path">Path:
                    <span ng-repeat="path in flow.flowPath">
                        <span ng-class="{'current-department' : $index === flow.crtDepartment, 'tag' : $index !== flow.crtDepartment}">{{path.name}}</span>
                        <span ng-if="!$last" class="arrow"> -> </span>
                    </span>
                </span>
            </div>
            <div ng-hide="$ctrl.flows">
                You haven't started any flows yet!
            </div>
        </div>
    </div>
</div>