<div class="container">
    <div ui-view></div>
    <div class="row">
        <div class="col-xs-12 documentList">
            <h3>My tasks</h3>
            <div ng-show="$ctrl.flows" ng-repeat="flow in $ctrl.flows" class="col-xs-12 flow">
                <span>Flow in department {{flow.crtDepartment}}</span>
                <div>Documents:</div>
                <table class="table-condensed">
                    <tr ng-repeat="document in flow.flowDocuments" class="col-xs-12 document">
                        <td><span>{{document.name}}</span></td>
                        <td><button ng-click="">Download</button></td>
                        <td><button ng-click="">Upload revised</button></td>
                        <td><button ng-click="$ctrl.sendToNextDepartment(flow.id)">Send to next department</button></td>
                        <td>
                            <form class="form col-md-12 center-block">
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" placeholder="Remark" ng-model="$ctrl.remark" required>
                                </div>
                                <div class="form-group">
                                    <button ng-disabled="!$ctrl.remark" ng-click="$ctrl.sentToInitial(flow.id)">Send to initial department</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                </table>
                <span class="col-xs-12 path">Path:
                    <span ng-repeat="path in flow.flowPath">
                        <span class="tag">{{path.name}}</span>
                <span ng-if="!$last" class="arrow"> -> </span>
                </span>
                </span>
            </div>
            <div ng-hide="$ctrl.flows">
                There are no flows assigned for you!
            </div>
        </div>
    </div>
</div>