<div class="container">
    <div ui-view></div>
    <div class="row">
        <div class="col-xs-12 documentList">
            <h3>My tasks</h3>
            <div ng-show="$ctrl.flows" ng-repeat="flow in $ctrl.flows" class="col-xs-12 flow">
                <span>Flow in department {{flow.crtDepartment}}</span>
                <div>Documents:</div>
                <table class="table-condensed">
                    <tr ng-repeat="document in flow.flowDocuments" class="col-xs-12 document">
                        <td><span>{{document.name}}</span></td>
                        <td><a class="btn btn-default" ng-if="document.type === 'DR'" target="_blank" ng-href="{{'http://localhost:8080/dr/download/' + document.id + '?part=first'}}">Download first part</a><td>
                        <td><a class="btn btn-default" ng-if="document.type === 'DR'" target="_blank" ng-href="{{'http://localhost:8080/dr/download/' + document.id + '?part=second'}}">Download second part</a><td>
                        <td><a class="btn btn-default" ng-if="document.type === 'RN'" target="_blank" ng-href="{{'http://localhost:8080/rn/download/' + document.id}}">Download</a><td>
                        <td><button class="btn btn-default" ng-click="$ctrl.sendToNextDepartment(flow.id)">Send to next department</button><td>
                        <td>
                            <form class="form col-md-12 center-block">
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" placeholder="Remark" ng-model="$ctrl.remark" required>
                                </div>
                                <div class="form-group">
                                    <button ng-disabled="!$ctrl.remark" ng-click="$ctrl.reject(flow.id)">Reject Flow</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                </table>
                <span class="col-xs-12 path">Path:
                    <span ng-repeat="path in flow.flowPath">
                        <span ng-class="{'current-department' : $index === flow.crtDepartment, 'tag' : $index !== flow.crtDepartment}">{{path.name}}</span>
                        <span ng-if="!$last" class="arrow"> -> </span>
                    </span>
                </span>
            </div>
            <div ng-hide="$ctrl.flows.length != 0">
                There are no flows assigned for you!
            </div>
        </div>
    </div>
</div>