.highlight {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.tag {
    font-size: 12pt;
    display: inline-block;
    background-color: #b3cdd9;
    border-radius: 2em;
    margin: 4px;
    padding: 1px 5px;
}

.current-department {
    font-size: 14pt;
    display: inline-block;
    background-color: #45c642;
    color: white;
    border-radius: 2em;
    margin: 5px;
    padding: 2px 10px;
}

.flow {
    margin-bottom: 15px;
    border-bottom: 1px solid #DFDFDF;
}

.path {
    margin-top: 5px;
}

.arrow {
    color: #63879b;
}